/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    .left-1 {
      text-align: center;
    }
    .left-1 .line {
      margin: 0 auto;
      margin-top: 20px;
    }
    .right-1 {
      height: 0;
      /*margin: 0 5px;*/
    }
    .right-1 form .card {
      margin-left: 5px;
      text-align: center;
      border: none;
    }
    .left-2 {
      text-align: center;
    }
    .banner-icon .right-2 {
      margin: -10px auto;
      /*padding-left: 0;*/
    }
    .banner-icon ul {
      padding-left: 0;
      margin: 0 px; 
    }
    .banner-icon .right-2 ul li {
      font-size: 18px;
    }
    .header-1 ul li {
      display: inline-block;

    }
    .graph .header-1 ul li {
      margin: 0px auto;
        width: 100px;
      
       
    }
    .graph {
      text-align: center;
    }
    .body-1 {
      margin-bottom: 30px;
    }
    .footer-1 img{
    margin-top: 25px;
    margin-left: -7px;
}

  }